<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.foodintol">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".UI.ViewMealActivity"></activity>
        <activity android:name=".UI.ViewMealDetailsActivity" />
        <activity android:name=".UI.AddMealActivity" />
        <activity android:name=".UI.FoodDiaryActivity" />
        <activity android:name=".UI.EditProfileActivity" />
        <activity android:name=".UI.AddChildActivity" />
        <activity android:name=".UI.SignUpActivity" />
        <activity android:name=".UI.LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".UI.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>