<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.iteration_two">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Iteration_two"
        tools:targetApi="31">
        <activity
            android:name=".FoodIntoleranceInformationActivity"
            android:exported="false" />
        <activity
            android:name=".OTPActivity"
            android:exported="false" />
        <activity
            android:name=".FoodEliminationActivity"
            android:exported="false" />
        <activity
            android:name=".AddFoodDiaryActivity"
            android:exported="false" />
        <activity
            android:name=".FoodDiaryActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".HomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".AddChildActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false"
            android:label="@string/title_activity_signin"
            android:theme="@style/Theme.Iteration_two.NoActionBar" />
        <activity
            android:name=".SignIn"
            android:exported="false"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/Theme.Iteration_two.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>